name: Format

on:
  push:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  ruff:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(vars.PYTHON_VERSIONS) }}

    name: Ruff on ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up CPython ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        id: install-deps
        run: |
          pip install .
          pip install ruff
      
      - name: Run Ruff Formatter
        if: ${{ always() && steps.install-deps.outcome == 'success' }}
        run: |
            ruff format --check